html{
    font-family: Inter, sans-serif; !important;
}
.has-background-primary {
    background-color: #282828 !important;
    color: white !important;
}

.navbar-item  {
    color: white !important;
}
.nav{
    position: -webkit-sticky !important;
}

.navbar-item:hover {
background-color: #726f6f !important;
    transition: 0.35s !important;
}

.hero-body {
    background-color: #75A526!important;
}

hr {
    background-color: black !important;
}