#brandTitle{
    border: 2px solid #75A526;
    padding: 10px; /* adds some space between the text and the border */
    display: inline-block; /* makes the border size adjust to the text size */
    background-color: #75A526;
    color: white; !important;
    font-size: 4em;
}

.navbar-menu {
    display: flex; !important;
    justify-content: center; !important;
    height: 10vh; !important;
}

.navbar-item{
    padding-left: 2%;
    padding-right: 2%;
    color: #75A526; !important;
    font-size: 1.2em; !important;
    font-weight: bold;
}