html{
    background-color: #75A526;
}

#resetButton{
    background-color: #75A526; !important;
    border: none !important;
}
#resetButton:hover{
    background-color: #52751b; !important;
    border: none !important;
}

#resetButton:active{
    background-color: #2b3d0e; !important;
    border: none !important;
}

#resetButton:focus{
    background-color: #75A526; !important;
    border: none !important;
    box-shadow: none; !important;
}

.comparisons{
 text-align :  center; !important;
    margin: 0 auto; !important;
    max-width: 70vw; !important;
    background-color: white;
    box-shadow: black;
}

#nav-container {
min-width: 100vw; !important;
}

div#comparison  {
    width: 50vw;
    height: 40vw;
    /*max-width: 600px;*/
    /*max-height: 600px;*/
    overflow: hidden;
    margin: 3vh auto auto auto;
}
div#comparison figure {
    background-image: url("/images/viggo/blur_1.jpg");
    border-radius: 6px;
    background-size: cover;
    position: relative;
    font-size: 0;
    width: 100%;
    height: 100%;
    margin: 0;
}
div#comparison figure > img {
    border-radius: 6px;
    position: relative;
    left:50%;
    width: 100%;
}
div#comparison figure div {
    background-image: url("/images/viggo/no_blur_1.jpg");
    border-radius: 6px;
    background-size: cover;
    position: absolute;
    width: 50%;
    box-shadow: 0 5px 10px -2px rgba(0,0,0,0.3);
    overflow: hidden;
    bottom: 0;
    height: 100%;
}

input[type=range]{
    -webkit-appearance:none;
    -moz-appearance:none;
    position: relative;
    top: -2rem; left: -1%;
    background-color: rgba(0,0,0,0.1);
    width: 102%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:active {
    outline: none;
}

input[type=range]::-moz-range-track {
    -moz-appearance:none;
    height:15px;
    max-width: 95%;
    background-color: rgba(0,0,0,0.1);
    position: relative;
    outline: none;
}
input[type=range]:active {
    border: none;
    outline: none;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance:none;
    width: 20px; height: 1.125rem;
    background: #858383;
    border-radius: 0;
}
input[type=range]::-moz-range-thumb {
    -moz-appearance: none;
    width: 20px;
    height: 15px;
    background: black;
    border-radius: 0;
}
input[type=range]:focus::-webkit-slider-thumb {
    background: rgba(0,0,0,0.5);
}
input[type=range]:focus::-moz-range-thumb {
    background: rgba(0, 0, 0, 0.5);
}

.img-slider {
    width: 100%;
    height: 510px;
    position: relative;
    margin-left: 15%;
}

.img-slider img {
    z-index: 1;
    width: 50vw;
    height: 40vw;
    top: 0;
    left: 0;
    border-radius: 6px;
    position: absolute; !important;
}

.img-slider img:first-child {
    z-index: 1;
}

.img-slider img:nth-child(2) {
    z-index: 1;
}

.navigation-button {
    text-align: center;
    position: relative;
    z-index: 1;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    z-index: 0;
}

.active,
.dot:hover {
    background-color: #717171;
}

.container {
    min-width: 100% !important;
    padding-bottom: 8%; !important;
}

.hero-body-viggo {
    background-image: url("/images/main/hero-image-1.jpg");
    color: #75A526; !important;
    background-size: cover; !important;
}


.modal {
    opacity: 0;
    transition: all 0.7s ease;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border: none;
    border-radius: 16px;
    padding: 0px;
    box-shadow: 0 16px 22px 0 rgba(0, 0, 0, 0.6);
}

.modal[open] {
    opacity: 1;
    transition-delay: 0s;
}

.modal::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-close {
    position: absolute;
    top: 5px;
    right: 5px;
    outline: none;
    appearance: none;
    color: goldenrod;
    background: none;
    border: 0;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
}

.modal-content h1 {
    margin: 0;
    padding: 20px;
    background-color: rgb(43, 123, 73);
    color: white;
    text-transform: capitalize;
}